<div class="container">
    <nav>
        <!-- <label class="logo"></label> -->
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars" (click)="clicked()"></i></label>
        <label for="" class="spacer"></label>
        <img src="/assets/k-logo1.PNG" alt="k-logo" class="logo">
        <ul>
          
          <li><a href="#">Kard</a></li>
          <li><a href="#">Kardless</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">rewards</a></li>
          <li><a href="#" class="active">get the app</a></li>
        </ul>
      </nav>
</div>
