
    <header>
        <content>
            <div  class="intro">
            
                <div class="intro-scale"> <span>Kashware is an exclusive</span><br>
                    <span>ecosystem that unites your money.</span><br>
                    <div class="hastags">#Spend #Save #StaySecured #EarnReward #JointheKlub</div> 
                </div>
                <!-- <img class="image" src="/assets/nayyar-card.PNG" alt=""> -->
                    
                
        
                
                 
            </div>
           
                <img class="image" src="/assets/nayyar-card.PNG" alt="">
                <!-- <img class="image1" src="/assets/nayyar-card2.PNG" alt=""> -->
                <div class="image1 "style="background-image: url('/assets/nayyar-card2.PNG');"></div>
            
                
        </content>
        <div class="one-app"> <span>One app. One Card.</span><br>
            <span>For all others.</span>
            
        </div>
    </header>
    


